## DATABASE CONFIGURATION

#  Nesta sessão será informado as configurações para acesso
#  ao banco de dados. Será necessário informar qual banco de
#  será utilizado, bem como o host, usuário, senha e o nome do banco.
DRIVER=''
HOST=''
DATABASE=''
USER=''
PASS=''